/* ==========================================================================
	LovelyImage by Roundhouse Designs
   ========================================================================== */

.widget_rhd_lovelyimage {
	max-width 100%;
	overflow: hidden;
}

.widget_rhd_lovelyimage .rhd_lovelyimage_container,
.widget_rhd_lovelyimage .rhd_lovelyimage_container img {
	height: 100%;
	min-width: 100%;
}

.widget_rhd_lovelyimage .rhd_lovelyimage_container img {
	position: relative;
}

.widget_rhd_lovelyimage .rhd_lovelyimage_container figcaption {
	width: 100%;
	position: absolute;
	left: 0;
	display: block;
	z-index: 999;
	text-align: center;
	padding: 0.5em 0;
	font-size: 1em;
	letter-spacing: 0.1em;

	/* Default, overridden by JS */
	background: rgba(255,255,255,0.5);
}

.widget_rhd_lovelyimage .rhd_lovelyimage_container .landscape {
	top: 0;
}

.widget_rhd_lovelyimage .rhd_lovelyimage_container .square {
	bottom: 25%;
}

.widget_rhd_lovelyimage .rhd_lovelyimage_container {
	overflow: hidden;
	margin: 0;
	position: relative;
}

.rhd_lovelyimage_preview {
	display: none;
}