/* ==========================================================================
	LovelyImage Admin CSS
   ========================================================================== */

.rhd_lovelyimage_preview {
	max-width: 90%;
	max-height: 300px;
	height: auto;
	display: block;
	margin: 1em auto;
}

.upload_image_button {
	margin-top: 1em;
}