/* ==========================================================================
	LovelyImage by Roundhouse Designs
   ========================================================================== */

.widget_rhd_lovelyimage {
	overflow: hidden;
}

.rhd_lovelyimage_container img {
	height: auto;
	min-width: 100%;
	min-height: 100%;
	position: relative;
}

.rhd_lovelyimage_container .square {
	max-width: 230px;
}

.rhd_lovelyimage_container .landscape {
	max-width: 225px;
}

.rhd_lovelyimage_container {
	overflow: hidden;
	margin: 0;
	position: relative;
}

.rhd_lovelyimage_preview {
	display: none;
}

.rhd_lovelyimage_caption {
	width: 100%;
	position: absolute;
	left: 0;
	display: block;
	z-index: 999;
	text-align: center;
	padding: 0.5em 0;
	font-size: 1em;
	letter-spacing: 0.1em;

	/* Default, overridden by JS */
	background: rgba(255,255,255,0.5);
}

.rhd_lovelyimage_caption.caption-top {
	top: 0;
}

.rhd_lovelyimage_caption.caption-bottom{
	bottom: 25%;
}