/* ==========================================================================
	LovelyImage by Roundhouse Designs
   ========================================================================== */

.widget_rhd_lovelyimage {
	width: 20%;
	height: 100%;
}

.widget_rhd_lovelyimage .rhd_lovelyimage_container,
.widget_rhd_lovelyimage .rhd_lovelyimage_container img {
	width 100%;
	min-height: 100%;
}

.widget_rhd_lovelyimage .rhd_lovelyimage_container {
	overflow: hidden;
}